* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.body {
    background-image: url(../img/rei-verdefondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
}