@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.navbar {
    padding: 30px;
    margin-bottom: 7px;
    background-color:#fcf6ef;
    display: flex;
    align-items: center;

    a{
        font-size: 1.2rem;
        font-family: "Roboto", sans-serif;
    }

    img {
     width:50px;
     margin-right: 10px;

    }
}
