
* {
    box-sizing: border-box;
}

.body {
    background-image: url(../img/rei-verdefondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


nav {
    padding: 40px;
    margin: 10px;
    background-color:#ffffffc1;
    display: flex;
    align-items: center;

}

.navList {
    list-style: none;
    margin-left: 58vw;
    margin-right: 0px;

}

.navList li {
    display: inline;
   

}

a {
    text-decoration: none;
    color: rgba(120, 69, 69, 0.847);
    font-size: 20px;
    margin: 5px;
}

.imglogo{
    height: 80px;
    width: 80px;
}


footer {
    background-color: #ffffffc1;
    height: 100px;
    padding: 10px;
    text-align: justify;
    bottom: 0px;
    margin-top: auto;


}

.encabezados{
    font-size: 100px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255 255 255);
    background-image: url(../img/yerba\ banner.jpg);
    
}

.encabezadoh2{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: #968575;

}




.imgPrin {
    width: 100%;
    height: auto;
    margin-top: -800px;

}

.divImg {
    height: 600px;
    overflow: hidden;
    margin-bottom: 10px;
}

.imgUno {
    width: 50%;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: auto;
}

.imgDos {
    width: 50%;
    height: auto;
    border: 10px;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: auto;
}


.card{
    background-color: rgba(255, 235, 205, 0.642);
    width: 300px;
    border: 1px solid rgba(255, 235, 205, 0.856);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
img{
    border-radius: 10px;
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}


 
.conteiner-form {
   display: grid;
   padding: 30px;
   background-color: rgba(255, 235, 205, 0.454);
   border-radius: 15px;
   width: 100vh;
  
}

.conteiner-contacto{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 10px;
    
    
}

.grid-conteiner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-items: center;
    row-gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.maps{
    display: flex;
    justify-content: center;
    background-color:#fafafa;
    padding: 20px;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 15px;
}
.infocont{
    background-color: #fafafa;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    
}


