@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body {
  background-image: url(../img/rei-verdefondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: 15px;
  margin: 10px;
  background-color: #fff5ec;
  display: flex;
  align-items: center;
}
.navbar img {
  width: 40px;
}

.myFooter {
  min-width: 100%;
  background-color: rgba(252, 251, 247, 0.9176470588);
}
.myFooter svg {
  font-size: 30px;
  width: 30px;
  height: auto;
  color: rgba(0, 0, 0, 0.746);
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
  transform: scale(1.5);
}

.imglogo {
  height: 80px;
  width: 80px;
}

.encabezados {
  font-size: 6vw;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255);
  background-image: url(../img/yerba\ banner.jpg);
}

.reseñas {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  margin-top: 10px;
}
.reseñas h2 {
  font-size: 4vw;
  padding: 10px;
  border-color: black;
  border-radius: 10px;
  margin-top: 10px;
  color: black;
}
.reseñas p {
  font-size: 3vw;
}

.productos {
  display: flex;
  justify-content: center;
}

.cuerpocont h2 {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #968575;
}

.inicio-nos {
  background-color: blanchedalmond;
  padding: 20px;
}
.inicio-nos h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.inicio-nos p {
  font-size: 1.3rem;
  color: black;
}

.imgInicioNos {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  background-color: #f1e6d4;
}
.imgInicioNos img {
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nos-final {
  background-color: rgba(255, 235, 205, 0.776);
}
.nos-final h3 {
  font-size: 6rem;
}
.nos-final p {
  font-size: 1.3rem;
}

.conteinerhome {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
.conteinerhome img {
  width: 100%;
  height: auto;
}
.conteinerhome p {
  font-size: 7vw;
  font-family: sans-serif;
  color: white;
  position: absolute;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  top: 28%;
}
.conteinerhome a {
  position: absolute;
  top: 48%;
}

.card {
  background-color: rgba(242, 229, 217, 0.8666666667);
  border-radius: 15px;
  align-items: center;
  width: 340px;
  height: auto;
  margin: 10px;
}
.card img {
  border-radius: 15px;
}

.conteiner-form {
  display: grid;
  padding: 30px;
  background-color: rgba(255, 235, 205, 0.454);
  border-radius: 15px;
}

.conteiner-contacto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 10px;
}

.maps {
  display: flex;
  background-color: #fafafa;
  padding: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  margin-bottom: 15px;
}

.infocont {
  background-color: #fafafa;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.carrousel-home {
  background-color: rgba(245, 237, 222, 0.589);
}
.carrousel-home p {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  color: black;
  background-color: #f1e6d4;
  font-size: 2vw;
}/*# sourceMappingURL=style.css.map */